nav li {
  padding: 0.3rem 1rem;
}

nav a {
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: black;
}

.nav-item:hover {
  background-color: black;
}
.nav-item:hover .nav-item-url {
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: relative;
}

.subnav {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  height: 0;
  position: absolute;
  top: 1.8rem;
  z-index: 1;
}

.nav-item:hover .subnav {
  visibility: visible;
  height: auto;
}
.subnav:hover .subnav {
  visibility: visible;
  height: auto;
}

.subnav-item:hover {
  background-color: gray;
}

.subnav-item:hover a {
  color: white;
}
