---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main>
    <h1>About CodePatternsOpen</h1>
    <h2>Design</h2>
    <p>
      Were we inspired by <a href="https://fullstackopen.com/en/"
        >FullStackOpen's</a
      > website and logo design? Yes.
    </p>
  </main>
</Layout>
