---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contributing">
  <h1>Contribute</h1>
  <p>Info coming soon...</p>
  <p>For now? Just know that our "tab-size" is two spaces.</p>
</Layout>
