---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Ace Your Next Technical Screening</h1>
    <h2>Code Patterns Open</h2>
    <p>
      Hello there! Code Patterns Open is an awesome, free resource you can use
      to study common coding patterns and programming paradigms you will find in
      technical screenings and interviews.
    </p>
    <p>
      The project is completely open-source, and at the moment contributors are
      working on creating solutions to problems from common technical screening
      platforms such as LeetCode and HackerRank.
    </p>
    <p>
      At the moment, solutions are only in <a href="https://www.python.org"
        >Python</a
      >.
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
