---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resources">
  <h1>Resources</h1>
  <p>Info coming soon...</p>
  <h2>Programming Languages</h2>
  <h3>Python</h3>
  <ul>
    <li>
      <a href="https://wiki.python.org/moin/TimeComplexity"
        >Common Operation Runtimes</a>
    </li>
  </ul>
</Layout>
