---
const { href, title, difficulty } = Astro.props;
import colors from "../../../data/colors.json";

const difficultyColor: any = colors.difficulties;
---

<a href={href}>
  <article>
    <p>{title}</p>
    {
      difficulty ? (
        <p
          style={`
            font-size: 12px;
            background-color: ${difficultyColor[difficulty]};
            border-radius: 4px;
            text-align: center;
          `}
        >
          {difficulty}
        </p>
      ) : null
    }
  </article>
</a>

<style>
  a {
    display: flex;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.2s;
  }

  a:hover {
    transform: scale(1.025);
  }

  article {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>
